{% extends "dashboard.html" %}
{% block title %}Buscar Autos{% endblock %}
{% block content %}
<div class="search-container">
    <div class="search-box">
        <h2>Ingrese matrícula</h2>
        <form action="{{ url_for('buscar_resultado') }}" method="POST">
            <div class="form-group">
                <input type="text" name="matricula" required>
            </div>
            <div class="button-group">
                <button type="submit" class="button-action">Buscar</button>
                <a href="{{ url_for('dashboard') }}" class="button-action">Volver</a>
            </div>
        </form>
    </div>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
