<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RSM Automotriz{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="dashboard">
        <div class="header">
            <div class="brand">RSM Automotriz</div>
            <div class="nav-buttons">
                <a href="{{ url_for('create_auto') }}" class="button-action">Ingreso</a>
                <a href="{{ url_for('buscar') }}" class="button-action">Buscar</a>
                <a href="{{ url_for('logout') }}" class="button cerrar">Cerrar sesion</a>
            </div>
        </div>
        
        <div class="welcome-text">
            <h1>Bienvenid@ {{ session['user_name'] }}</h1>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <div class="logo-container">
            <img src="{{ url_for('static', filename='logorsmautomotriz.png') }}" alt="RSM Automotriz Logo">
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
